<body>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>

    <!-- </footer> With GitHub and LinkedIn links -->
    <!-- <footer>
        <a href="https://github.com/URiem" target="_blank" rel="noopener" aria-label="Github page of developer (opens in new tab).">
            <i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/ulrike-r-8b538385/" target="_blank" rel="noopener" aria-label="LinkedIn page of developer (opens in new tab).">
            <i class="fa-brands fa-linkedin-in"></i></a>
    </footer> -->

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>